$main-background-white: #efefef;
$main-background-dark: rgb(19, 19, 45);
$bg-purple: purple;
$bg-pink: pink;
$bg-smoke-like: rgb(233, 233, 233);

$text-white: #f4f4f5;
$text-light-gray: rgb(164, 164, 164);
$text-medium-gray: rgb(133, 133, 133);
$text-dark-gray: rgb(43, 43, 43);
$text-gold: gold;
$text-gold-rod: rgb(213, 181, 0);
$text-skyblue: skyblue;
$text-navyblue: rgb(20, 20, 47);
$text-blue-main: blue;
$text-purple-color: purple;
$text-black-main: black;

$font-heading: 2rem;
$font-heading2: 1.6rem;
$font-text-p: 1rem;
$font-medium: .9rem;
$font-small: .6rem;

$radius-large: 100%;
$radius-middle-range: 50%;
$radius-small-xsm: 3px;
$radius-small-sm: 10px;
$radius-small-lg: 15px;
$radius-xlarge: 30px;

$primary-heading: rgb(112, 207, 245);
$secondary-heading: rgb(255, 168, 6);
$tatiary-heading: purple;
$normal-heading: black;
$decoratoer-heading: indigo;